.navbar{
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 18px;
}
button{
    padding: 5px;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}